<%include ../shared/header2%>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Blog</li>
    </ol>
</nav>
<div class="container">
<div class="eric-card-container  container-space animated zoomIn">
    <%for(let i=0; i< blogs.length;i++){%>
    <a href="/blogs/blogdetails/<%= blogs[i]._id %>">
    <div class="eric-card-grid">

        <div class="eric-card-content">

            <div class="eric-card-image">
                <div class="eric-card-layer"></div>
                <img src="/images/<%=blogs[i].pic%>">

            </div>
            <div class="eric-card-title ">
                <%= blogs[i].blogtitle%>
            </div>
            <div class="eric-card-details">

                <p style="    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;"><%- blogs[i].blogcontent%></p>
            </div>
            <div class="eric-blog-date" >
                Created: <%=cds[i]%>
            </div>
        </div>
    </div>
    </a>
    <%}%>
</div>
</div>
<%include ../shared/footer%>